body
{
    height: 83.5vh;
    background-image: linear-gradient(to bottom, rgba(4, 11, 92, 0.927),rgba(0, 26, 224, 0.897));
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.96);

}
input
{
    align-items: center;
    border: white solid 1px;
    border-radius: 7px;
    margin-top: 12px;
    padding-left: 10px;
    align-items: center;
    background-color: rgb(186, 186, 186);
    height: 30px;   
    width: 200px;  

}
.formulario
{
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
    width: 200px;
    height: 180px;
    padding-top: 30px;
    margin-top: 30px;
    transform: scale(1.5);

}
.botao
{
    background-color: rgb(23, 77, 255);
    width: 180px;
    height: 30px;
    margin-top: 10px;
    color: rgb(255, 255, 255);

    
}
.botao:hover
{
    background-color: rgb(17, 110, 0);
    color: rgb(255, 255, 255);
    transition:0.5s ;
    opacity: 0.7;
}
a
{
    font-size: x-small;
    width: 200px;
    color: white;
    margin-bottom: 150px;
}
a:hover
{
    color: rgb(112, 112, 112);


}
.imagens
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.linha
{
    width: 180px;
    padding-left: 30px;
    padding-right: 30px;
}
hr
{
    border: none;
    border-top: 3px solid rgb(111, 111, 111);
}
p
{
    margin-top: 5px;
    font-size: x-small;
    width: 200px;
    color: white;
}
